node_modules
dist
.env
*.log
.vs
__pycache__
*.pyc
.venv
venv
/package.json
/package-lock.json
backend/models/embedding/default/*.safetensors
backend/models/embedding/default/tokenizer.json
backend/temp_uploads/
backend/data/token_usage.json
